%h1 <center> easyAPI + Singly Integration </center>
%h2
  - if @profiles
    <center> Nice to see you again!
  - else
    <center> Please connect a service
- if session[:access_token] 
  %p
    <center> Your access token is
    %input{:type => :text, :value => session[:access_token], :readonly => :readonly}
    %a(href="/logout") Log out

    %p    
    Your news_feed looks like
    %a(href="https://api.singly.com/types/news_feed?limit=2&access_token=#{session[:access_token]}") See your Feed
%ul
  - %w[facebook twitter google github].each do |service|
    %li
      <center>
      = service.capitalize
      - if @profiles && @profiles[service]
        <center>
        is connected as
        = @profiles[service]
      - else
        <center>
        is not connected.
        <center>
        %a(href="/auth/singly?service=#{service}") Connect